﻿<%@ Page Title="Client Monitor" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>

            <% 
                //int i = 0;

                //int.TryParse(Label1.Text, out i);
                
              //  ((DAO)Application["DAO"]).Flag

                if (((DAO)Application["DAO"]).Flag == 1)
                {
                    %>
                    
                  <!--  <embed src="sound.wav" autostart=true width=0 height=0 name="sound1"
                        enablejavascript="true">   -->
<!--
                        <script type="text/javascript">
                            alert('Hello, World!');
                        </script>
                        -->
                        
                        <embed src="sound.wav" autostart=true width=1 height=1 id="sound1"
                            enablejavascript="true">

                        <script type="text/javascript">
                            var thissound=document.getElementById('sound1');
                                thissound.Play();
                        </script>
                        


                        <!--
                        <script type="text/javascript">
                            var soundObject = null;
                            
                                if (soundObject != null) {
                                    document.body.removeChild(soundObject);
                                    soundObject.removed = true;
                                    soundObject = null;
                                }
                                soundObject = document.createElement("embed");
                                soundObject.setAttribute("src", "sound.wav");
                                soundObject.setAttribute("hidden", true);
                                soundObject.setAttribute("autostart", true);
                                document.body.appendChild(soundObject);
                            
                        </script>
                        -->

                    <%
                }
                else
                { 
                    %>
                
                    <%
                }
                
                
            %>



            <asp:Label ID="Label1" runat="server" Text="ClientMonitor" ForeColor="White"></asp:Label>

         <h2> 
          
             
             <asp:GridView ID="GridViewDealing" Width="95%"   runat="server" CellPadding="4" 
                 ForeColor="#333333" GridLines="None" HorizontalAlign="Center" Height="400px" 
                 AutoGenerateColumns="False">
            <AlternatingRowStyle BackColor="White" />
              <Columns>
                  <asp:BoundField DataField="Банк" HeaderText="Банк">
                  <HeaderStyle Width="33%" />
                  <ItemStyle HorizontalAlign="Center" />
                  </asp:BoundField>
                  <asp:BoundField DataField="День" HeaderText="День">
                  <HeaderStyle Width="33%" />
                  <ItemStyle HorizontalAlign="Center" />
                  </asp:BoundField>
                  <asp:BoundField DataField="Месяц" HeaderText="Месяц">
                  <HeaderStyle Width="33%" />
                  <ItemStyle HorizontalAlign="Center" />
                  </asp:BoundField>
              </Columns>
            <EditRowStyle BackColor="#2461BF" />
            <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#EFF3FB" HorizontalAlign="Center" />
            <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#F5F7FB" HorizontalAlign="Center"/>
            <SortedAscendingHeaderStyle BackColor="#6D95E1" HorizontalAlign="Center"/>
            <SortedDescendingCellStyle BackColor="#E9EBEF" HorizontalAlign="Center"/>
            <SortedDescendingHeaderStyle BackColor="#4870BE" HorizontalAlign="Center"/>

            </asp:GridView>
             


            </h2> 
        
         <asp:Label ID="Label2" runat="server" Text="ClientMonitor" ForeColor="White"></asp:Label>
           <h2>  
         
                <asp:GridView ID="GridViewLifebroker" runat="server" CellPadding="4" 
                    ForeColor="#333333" GridLines="None" HorizontalAlign="Center" Width="95%" 
                    Height="400px" AutoGenerateColumns="False">
                    <AlternatingRowStyle BackColor="White" />
                    <Columns>
                        <asp:BoundField DataField="Компания" HeaderText="Компания">
                        <HeaderStyle Width="33%" />
                        <ItemStyle HorizontalAlign="Center" />
                        </asp:BoundField>
                        <asp:BoundField DataField="День" HeaderText="День">
                        <HeaderStyle Width="33%" />
                        <ItemStyle HorizontalAlign="Center" />
                        </asp:BoundField>
                        <asp:BoundField DataField="Месяц" HeaderText="Месяц">
                        <HeaderStyle Width="33%" />
                        <ItemStyle HorizontalAlign="Center" />
                        </asp:BoundField>
                    </Columns>
                    <EditRowStyle BackColor="#2461BF" />
                    <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                    <HeaderStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
                    <RowStyle BackColor="#EFF3FB" HorizontalAlign="Center" />
                    <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
                    <SortedAscendingCellStyle BackColor="#F5F7FB" HorizontalAlign="Center"/>
                    <SortedAscendingHeaderStyle BackColor="#6D95E1" HorizontalAlign="Center"/>
                    <SortedDescendingCellStyle BackColor="#E9EBEF" HorizontalAlign="Center"/>
                    <SortedDescendingHeaderStyle BackColor="#4870BE" HorizontalAlign="Center"/>
                </asp:GridView>
            <!--   </asp:GridView>   -->

        </h2>  


         <asp:Label ID="Label3" runat="server" Text="ClientMonitor" ForeColor="White"></asp:Label>

            <asp:Timer ID="Timer1" runat="server" Interval="600000">
            </asp:Timer>

        </ContentTemplate>
    </asp:UpdatePanel>
    
</asp:Content>
